@font-face {
    font-family: "quirky";
    src: url("/quirky-bay-font/misc/Quirky\ Bay\ -\ Free\ Version-bb5b.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    position: relative;
    width: 35vw;
    background-color: #6474a4;
    min-width: 250px;
    max-width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.sidebar > img {
    position: absolute;
    width: 100%;
    padding: 10px;
    object-fit: contain;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    flex: 1;
    padding: 0 10%;
    overflow-y: auto;
}

.header {
    border: 3px solid red;
    font-size: 32px;
    width: 100%;
    flex: 1;
    margin-top: 10%;
}

.convince {
    border: 1px solid purple;
    margin: 5% 0;
}

form {
    border: 3px solid black;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.section {
    border: 2px solid green;
    display: flex;
    justify-content: baseline;
    gap: 10px;
}

.section {
    display: flex;
    width: 100%;
}

p.account_exist {
    border: 3px solid blue;
    width: 100%;
    flex: 1;
}
